<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans> 

	<!-- DAOs -->
	<bean id="personDAO" class="com.test.dao.PersonDAOImpl"/>
	<bean id="homeDAO" class="com.test.dao.HomeDAOImpl"/>
	<bean id="addressDAO" class="com.test.dao.AddressDAOImpl"/>
	
	<bean id="generalDAO" class="com.trg.dao.GeneralDAOImpl"/>
	
	<bean id="remoteDAO" class="com.trg.remote.RemoteDAO">
		<property name="specificDAOs">
			<map>
				<entry key="com.test.model.Person" value-ref="homeDAO"/>
			</map>
		</property>
	</bean>
</beans>