<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd">
		
	<bean id="searchFacade" class="com.trg.search.hibernate.HibernateSearchFacade">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="metadataUtil" class="com.trg.search.hibernate.HibernateMetadataUtil"
		factory-method="getInstanceForSessionFactory">
		<constructor-arg ref="sessionFactory"/>
	</bean>
	
	<bean id="persistenceHelper" class="test.trg.search.hibernate.HibernatePersistenceHelper"/>
	
	<bean id="internalHelper" class="test.trg.search.hibernate.HibernateInternalHelper"/>
	
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
		<property name="hibernateProperties">
			<bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<property name="properties">
					<props>
						<prop key="hibernate.dialect">${hibernate.dialect}</prop>
						<prop key="hibernate.show_sql">${show_sql}</prop>
						<prop key="hibernate.hbm2ddl.auto">create</prop>
					</props>
				</property>
			</bean>
		</property>
	</bean>
	
	<!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean name="hibernateInterceptor" class="org.springframework.orm.hibernate3.HibernateInterceptor">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>
	
	<bean id="baseServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true">
		<property name="interceptorNames">
			<list>
				<value>hibernateInterceptor</value>
			</list>
		</property>
	</bean>
</beans>